<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62370717200-dfmpq6ojv969p1frlv2fehuqog3fqguc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62370717200-dfmpq6ojv969p1frlv2fehuqog3fqguc</string>
	<key>API_KEY</key>
	<string>AIzaSyDQLXFg9grBZ9Yv4SdPS4jYAKsp5uxJxb0</string>
	<key>GCM_SENDER_ID</key>
	<string>62370717200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beytullahozer.Market</string>
	<key>PROJECT_ID</key>
	<string>marketios-f7886</string>
	<key>STORAGE_BUCKET</key>
	<string>marketios-f7886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:62370717200:ios:7b02fdc567840ca6c77495</string>
</dict>
</plist>
